extends layouts/main

block metas
  +articleMetas(article, articleText)

block main_content
  article
    header
      h1(itemprop="headline")= article.title
    div!=articleText.text

//- block scripts
//-   +articleJsonLd(article, articleText)
