extends layouts/wide

block metas
  +articleMetas(article, articleText)

block main_content
  article
    header
      h1= article.title
    div!=articleText.text

block scripts
  //-   +articleJsonLd(article, articleText)
  script(type='text/javascript', src=links.assets.js.main())
